/* TEXT ELEMENTS */
html {
	font-size: 3vw;
}
* {
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #FFFFFF;
	font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
button {
	font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
a {
	text-decoration-line: none;
	text-decoration: none;
	text-decoration-style: none;
}
h1 {
	font-family: "Big Shoulders Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-size: 9vw;
}
p {
	margin-bottom: 2vw;
	line-height: 1.5;
}
ul {
	font-size: 1.5vw;
	line-height: 1.5;
}
.fa-solid {
	margin: 0 1vw 0 2vw;
}

/* NAVIGATION */
#nav-icon {
	font-size:15vw;
	cursor:pointer;
	padding: 4vw;
	background: -webkit-linear-gradient(#E1B940, #FFEEA3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
	font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 4vw 4vw 0 10vw;
  text-decoration: none;
  font-size: 10vw;
  color: #202020;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  background: -webkit-linear-gradient(#E1B940, #FFEEA3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  stroke: 1em;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #202020;
  text-indent: 2vw;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 3vw;
  font-size: 10vw;
}

/* HOME */
.main-div {
	background: linear-gradient(135deg,#BCADE3,#4E3F76,#272039, #202020);
	animation: gradient 10s ease infinite;
	background-size: 200% 200%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.home-div {
/*	padding: 26vh 0 42vh 0;*/
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 10vh;
}
.home-div h1 {
	font-size: 15vw;
	line-height: 1;
	transition: 0.5s;
	text-align: center;
	animation-name: moveText;
	animation-duration: 5s;
	animation-iteration-count: 1;
	background: -webkit-linear-gradient(#E1B940, #FFEEA3, #E1B940);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  stroke: 1em;
  -webkit-text-stroke-width: 0.2vw;
  -webkit-text-stroke-color: #202020;
}
@keyframes moveText {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes fadeInBot {
	0% {
		transform: translateY(160px);
		color: #FFFFFF;
	}

	30% {
		transform: translateY(160px);
		color: #FFFFFF;
	}

	50% {
		color: #FFFFFF;
	}

	100% {
		transform: translateY(0px);
		color: white;
	}
}

/* ABOUT DIV */
.about-div {
	background-color: white;
	height: auto;
}
.bionote-container {
	padding: 5vw;
	text-align: center;
	margin: 0 5vw;
}
#bionote-pic {
	width: 50vw;
	margin: 5vw 0;
}
#bionote p {
	text-indent: 2rem;
	text-align: justify;
}
.badges-container {
	display: flex;
	justify-content: center;
}
.academy-badge img{
	width: 35vw;
	margin: 2vw 0;
}

/* SERVICES DIV */
.services-div {
  background-color: #4E3F76;
  box-shadow: inset 0 0 50px #202020;
  text-align: center;
}
.services-div h1 {
	color: #202020;
  background: linear-gradient(to right, #E1B940, #FFEEA3, #E1B940);
  text-shadow: #fff 0 0 2rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.services-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin: 3vw;
}
.services-list {
display: none;
}
.cell {
	font-size: 2vw;
  color: #4E3F76;
  font-weight: 700;
  width: auto;
  margin: 1.5vw;
  padding: 1vw;
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
}
.cell:hover {
	color: white;
	text-decoration-line: none;
  transition: 0.5s;
  background-color: #4E3F76;
}

/* COLOR PALETTE
#202020 - black
#4E3F76 - violet
#BCADE3 -lavander
#E5D2E8 - pink
#E1B940 #FFEEA3 - gold gradient */

/* CERTIFICATIONS DIV*/
.cert-div {
	background-color: #202020;
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
	padding: 5vw;
}
.cert-div h1 {
	text-align: right;
	color: #FFF;
	text-shadow: #4E3F76 0 0 0.5rem;
}
.cert-div ul {
	list-style: square;
	margin-bottom: 3vw;
	font-weight: 800;
}
.slides-container {
	max-height: 600px;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	margin: 2vw;
}
.slides-info {
display: none;
position: absolute;
top: 0;
right: 0;
color: #4E3F76;
z-index: 1;
font-size: 5vw;
cursor: pointer;
margin: 3vw;
transition: 0.5s;
}
.slides-info:hover {
	color: #202020;
}
.mySlides {
	display:none;
	width: 100%;
}
.slides-overlay {
	display: block;
	box-shadow: inset 0 0 20px #202020;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 20px;
	top: 0;
}
.slide-nav {
	text-align: center !important;
	display:inline-block;
	align-items: center;
	justify-content: center;
	position:absolute;
	left:50%;
	bottom:0;
	transform:
	translate(-50%,0%);
	-ms-transform:translate(-50%,0%);
}
.indicator-div {
	bottom: 5vw;
	position: absolute;
	left: 0;
  right: 0;
  margin: 0 auto;
}
.slide-indicator {
	height:2vw;
	width:2vw;
	border-radius:50%;
	display:inline-block;
	text-align:center;
	border: #000;
	border:1px solid #ccc;
	background-color: #fff;
	transition: 0.5s;
	cursor:pointer;
	margin: 0 1vw;
}
.slide-indicator:hover {
	background-color: #BCADE3;
}
.active-slide {
	background-color: #4E3F76;
}
.slide-button {
	color: #4E3F76;
	cursor: pointer;
	font-size: 5vw;
}
.slide-button:hover {
	color: #202020;
}
.left{
	float:left!important;
	margin:3vw;
}
.right{
	float:right!important;
	margin:3vw;
}
.cert-button {
	background-color: #202020;
	font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	border: none;
	width: auto;
	transition: 0.5s;
	text-align: center;
	border-radius: 30px;
	padding: 1vw 3vw ;
	font-weight: 1000;
	margin-top: 2vw;
	font-size: 4vw;
	cursor: pointer;
}
.cert-button a{
	color: white ;
}

/* PROJECTS */
.portfolio-div {
	background-color: #BCADE3;
	color: white;
	padding: 5vw;
	color: #202020;
	border-bottom-left-radius:20%;
  height: 70vw;
}
.project-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}
.project-cards {
	background: white;
  padding: 3vw 4vw;
  border-radius: 20px;
  font-size: 4vw;
  margin: 2vw;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 25%);
  transition: 0.5s;
}
.project-cards:hover {
	box-shadow: 0 0 30px 15px rgba(0, 0, 0, 50%);
}
.project-cards i {
	color: #202020;
	margin: 0;
}


/* CALENDLY DIV */
.calendly-div {
	margin-top: -1px;
	background-color: #BCADE3;
}
.calendly-container {
	border-top-right-radius:50%;
	background-color: #FFF;
	padding: 5vw;
}
.calendly-container h1 {
	color: #202020;
	text-shadow: #BCADE3 0 0 0.5rem;
	margin: 2vw 5vw;
}
.calendly-badge-widget {
	font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.calendly-container p {
text-align: right;
margin-right: 5vw;
}

.calendly-inline-widget, .calendly-mobile {
	height: 80vh !important;
}

/* BLOG DIV */
.blog-container {
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
}
.blog-div {
	background-color: #202020;
	padding: 7vw;
}
.blog-profile {
	margin: 2rem 2rem 0 2rem;
}
#blog-pic {
	width: 25vw;
	margin-right: 1.5rem;
	float: left;
	max-width: 300px;
}
#blog-name {
	font-weight: 600;
	color: #202020;
	font-size: 4vw;
}
#blog-description {
	color: #585858;
}
#blog-follow-btn {
	background-color: #202020;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 1.5vw 3vw;
  font-size: 1rem;
}
.medium-publication-feed-root-container {
			display: none !important;
		}
.grid-item-medium-publication-feed {
			width: 100% !important;
		}
.medium_publication_post_title {
			font-size: 1.5rem !important;
			line-height: 1.2 !important;
			color: #202020 !important;
			margin: 1vw 0 1vw 0 !important;
		}
.medium_publication_post_creator {
			font-size: 1rem !important;
			margin: 2vw 0 2vw 0 !important;
		}
.sk-description {
			display: none !important;
		}
.sk-read-more-btn {
			font-size: 1rem !important;
			background-color: #202020 !important;
			margin: 1vw 0 1vw 0 !important;
			padding: 2vw !important;
		}

/* GOLD DIV */
.gold-div {
  background: linear-gradient(to right, #E1B940, #FFEEA3, #E1B940);
	padding: 1vh;
	color: white;
	bottom: 0;
}

/* FOOTER DIV */
.footer-div {
	width: 100%;
	height: 100%;
	text-align: center;
	bottom: 0;
	margin: 0;
	background-color: #202020;
	overflow: hidden;
}
.footer-div h3 {
	font-size: 2rem;
	font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
.container-div {
	flex-direction: row;
	width: 100%;
	height: auto;
	background-color: #fff;
}
.form-div {
	background-color: #BCADE3;
	height: auto;
	padding: 3vw;
}

.form-div input {
	font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
	padding: 1vw 2vw;
	border: none;
	margin: 1.5vw;
	width: 80%;
	color: #202020;
	border-radius: 10px;
}
.form-div textarea {
	font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
	padding: 1vw 2vw;
	color: #202020;
	border: none;
	margin: 1.5vw;
	width: 80%;
	height: 15vh;
	border-radius: 10px;
}
.form-div button {
	font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	border: none;
	width: auto;
	color: #fff;
	transition: 0.5s;
	text-align: center;
	border-radius: 15px;
	padding: 0.5vw 2vw 0.5vw 2vw ;
	background-color: #202020;
	font-weight: 1000;
	margin-top: 0.5rem;
}
.form-div button:hover {
	background: linear-gradient(to right, #E1B940, #FFEEA3, #E1B940);
	color: #202020;
}
.contact-div {
	background-color: #fff;
	padding: 3vw;
}
.contact-div h3 {
	text-align: center;
}
.contact-div ul {
	padding-inline-start: 0;
}
#contact-icon {
	float: middle;
	width: 10vw;
	margin: 2vw;
}
#sitelinks {
	color: #202020;
	list-style: none;
	margin-left: 0;
	font-size: 1rem;
}
.copyright-div {
	background-color: #202020;
	color: white;
	padding: 3vw;
	font-weight: 500;
}
#footer-logo {
	width: 10vw;
	margin: 5vw;
}